@font-face {
  font-family: 'Anglecia Pro';
  src: url('../font/AngleciaProDisplay-Italic-webfont.eot');
  src: url('../font/AngleciaProDisplay-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/AngleciaProDisplay-Italic-webfont.woff2') format('woff2'),
       url('../font/AngleciaProDisplay-Italic-webfont.woff') format('woff'),
       url('../font/AngleciaProDisplay-Italic-webfont.ttf') format('truetype'),
       url('../font/AngleciaProDisplay-Italic-webfont.svg#anglecia_pro_dspitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
  Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
  ========================================================================== */

body {
  font: normal 100%/1.5 Helvetica, Helvetica Neue, Arial;
}

/*.wrapper {
  width: 90%;
  margin: 0 5%;
}*/

/* ===================
  ALL: Orange Theme
  =================== */

/*.header-container {
  border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

.title {
  color: white;
}*/

/* ==============
  MOBILE: Menu
  ============== */

/*nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}*/

/* ==============
  MOBILE: Main
  ============== */

/*.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}*/

/* ===============
  ALL: IE Fixes
  =============== */

/*.ie7 .title {
  padding-top: 20px;
}*/

/* ==========================================================================
  Author's custom styles
  ========================================================================== */

section {
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 999;
  padding: 3rem 0;
  overflow: hidden;
  box-sizing: border-box;
}

#front-cover {
  height: 120rem;
}

#front-cover .cover-content {
  font-family: 'Anglecia Pro', serif;
  font-style: italic;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 26%;
  width: 100%;
  opacity: 1;
  text-shadow: #000 1px 1px;

  filter: url('../index.html#coverSectionBlur');
  -webkit-filter: url('#coverSectionBlur');
}

#front-cover .cover-content h1 {
  margin: 0 0 3.5rem 0;
  font-size: 7.5rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #fdfdfd;
  letter-spacing: 2px;

  transform-style: preserve-3d;
}

#front-cover .cover-content p {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: #fdfdfd;
  letter-spacing: 1px;
  line-height: 2.5rem;
  white-space: nowrap;

  transform-style: preserve-3d;
}

#section-2 {
  height: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
}

#section-3 {
  height: 120rem;
}

section .text-column {
  width: 33%;
  line-height: 2.2rem;
  position: relative;
  font-size: 1.5rem;
  color: #fdfdfd;
  text-shadow: #000 1px 1px;
}

section .center-column {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

section .floating-block {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-110%);
  -moz-transform: translateX(-50%) translateY(-110%);
  -ms-transform: translateX(-50%) translateY(-110%);
  -o-transform: translateX(-50%) translateY(-110%);
  transform: translateX(-50%) translateY(-110%);
  transform-style: preserve-3d;
}

#backgrounds .fixed-full-background {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}

#backgrounds .fixed-full-background.visible {
  opacity: 1;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}

#backgrounds .background-1 {
  background-image: url(../img/background-1.jpg);
  z-index: 11;
}

#backgrounds .background-2 {
  background-image: url(../img/background-2.jpg);
  z-index: 12;
}

#backgrounds .background-3 {
  background-image: url(../img/background-3.jpg);
  z-index: 13;
}

#backgrounds .background-4 {
  background-image: url(../img/background-4.jpg);
  z-index: 14;
}









/* ==========================================================================
  Media Queries
  ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
  INTERMEDIATE: Menu
  ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

/* ========================
  INTERMEDIATE: IE Fixes
  ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {

/* ====================
  WIDE: CSS3 Effects
  ==================== */

  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
      -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
  }

/* ============
  WIDE: Menu
  ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

/* ============
  WIDE: Main
  ============ */

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}

@media only screen and (min-width: 1140px) {

/* ===============
  Maximal Width
  =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
  Helper classes
  ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*.visible {
  display: block !important;
}*/

.right {
  float: right;
}

.padding-bottom-50 {
  padding-bottom: 50rem;
}

/* ==========================================================================
  Print styles
  ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}